body {
    background-color: #FFFFFF;
    color: #555555;
}

header {
    background-color: #002171;
    color: #FFFFFF;
    
    text-indent: 1em;
    font-family: Georgia;
    line-height: 400%;
    margin: 0;
    padding: 0;

    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

nav {
    background-color: #BBDEFB;
    font-weight: bold;
    margin: 0;
}

nav a {
    text-decoration: none;
}

h1 {
    margin-bottom: 0;
}

h2 {
    color: #1976D2;
    font-family: Georgia;
}

h3 {
    color: #000033;
    font-family: Georgia;
}

p {
    font-family: Georgia;
}

dt {
    color: #002171;
}

dl {
    font-family: Georgia;
}

ul {
    list-style-image: url(marker.gif);
}

.resort {
    color: #1976D2
}

.image {
    width: 100%;
    height: auto;
}

footer {
    color: #555555;
    font-family: Georgia;
    font-style: italic;
    text-align: center;
}

