body {
    background-color: #F5F5F5;
    color: #40407A;
    font-family: Verdana;
}

header {
    background-color: #80CBC4;
    color: #40407A;
    text-indent: 1em;
    font-family: Verdana;
    background-image: linear-gradient(to right, #80CBC4 70%, rgba(128, 203, 196, 0)), url(lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 115px;
    display: flex;
    align-items: center;
}

footer {
    background-color: #80CBC4;
    font-size: 75%;
    font-style: italic;
    font-family: Verdana;
    text-align: center;
}

nav {
    font-weight: bold;
    text-align: center;
    margin: 20px; /* Adds spacing below the nav */
}

nav a {
    text-decoration: none;
}

dd {
    font-size: 90%;
}

li {
    font-size: 90%;
}

.imageformat {
    float: right;
    width: auto;
    height: 100%;
    margin-left: 1em;
}

.imageformat2 {
    width: 100%;
    height: auto;
}

